<% @articles.reverse.each do |article| %>
  <article>
  <h2><%= link_to article.title, article_path(article.id) %></h2>
  <%= article.content.gsub(/\<p\>|\<\/p\>/,' ')[0...150] %>
  </article>
<% end %>
